/* abstracts */
:root {
  --white: #FFF;
  --platinum: #E8E8e8 ;
  --light-gray: #D1D1D1;
  --fuzzy-wuzzy: #E56353;
  --ruddy-pink: #D76C69;
  --spanish-pink: #ECBCBA;
  --eerie-black: #121619;
  --raisin-black: #222323;
  --nickel: #6C6E70;
}

/* base */
h1 {
  position: absolute;
  z-index: 1;
  color: var(--white);
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  margin-top: 25%;
  margin-left: 20%;
  margin-right: 20%;
}

.date {
  color: var(--nickel);
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.texto {
  color: var(--nickel);
  line-height: 50px;
  font-family: 'roboto';
  font-weight: 300;
  font-size: 16px;
}

/* components */
/* layout */
#footer {
  background-color: var(--raisin-black);
}

.logo {
  width: 90px;
}

.navbar {
  background-color: var(--eerie-black);
}

#post-image {
  background-image: url("/assets/img/post-image.jpg") no-repeat 0;
}

#post-image .post-img {
  width: 100%;
  position: relative;
  display: inline-block;
}

#page {
  background-color: var(--nickel);
  height: 30px;
}

/*vendors */
.pagination {
  border-radius: 300px;
}
