/* abstracts */
:root {
  --white: #FFF;
  --platinum: #E8E8e8 ;
  --light-gray: #D1D1D1;
  --fuzzy-wuzzy: #E56353;
  --ruddy-pink: #D76C69;
  --spanish-pink: #ECBCBA;
  --eerie-black: #121619;
  --raisin-black: #222323;
  --nickel: #6C6E70;
}

/* base */
h1 {
  position: absolute;
  z-index: 1;
  color: var(--white);
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  margin-top: 25%;
  margin-left: 20%;
  margin-right: 20%;
}

.date {
  color: var(--nickel);
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.texto, .card-text {
  color: var(--nickel);
  line-height: 45px;
  font-family: 'roboto';
  font-weight: 300;
  font-size: 16px;
  margin-top: 40px;
}

span {
  color: var(--fuzzy-wuzzy);
}

.card-title {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
}

a {
  color: var(--spanish-pink);
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 300;
}

.card-text {
  font-size: 14px;
  margin-top: 0px;
  line-height: 30px;
}

/* components */
.btn {
  background-color: var(--nickel);
  color: var(--platinum);
  border-radius: 40px;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

/* layout */
#footer {
  background-color: var(--eerie-black);
  height: 150px;
}

#footer .transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
}

.logo {
  width: 90px;
}

.navbar {
  background-color: var(--eerie-black);
}

#post-image {
  background-image: url("/assets/img/post-image.jpg") no-repeat 0;
}

#post-image .post-img {
  width: 100%;
  position: relative;
  display: inline-block;
}

#page {
  background-color: var(--light-gray);
  height: 180px;
}

/*vendors */
.naomi .card {
  border: none;
}

.naomi .row {
  padding: 20px;
  border: none;
}

.naomi img {
  border-radius: 50%;
  width: 200px;
}

.pagination {
  font-family: 'roboto';
  font-weight: 300;
  padding-top: 60px;
}

.pagination .page-link {
  color: var(--raisin-black);
}

.pagination #page-text1 {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.pagination #page-text2 {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
