h1 {
    position: absolute;
    z-index: 1;
    color: var(--white);
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
}

.date {
    color: var(--nickel);
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.texto {
    color:var(--nickel);
    line-height : 50px;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 16px;

}