h1 {
    position: absolute;
    z-index: 1;
    color: var(--white);
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    
}