.logo {
    width: 80px;
}

.navbar {
    background-color: var(--eerie-black);
    
    a {
        color: var(--white);
        font-size: 16px;
    }
    a:hover{
        color: var(--fuzzy-wuzzy);
    }
    
    .navbar-toggler-icon {
        color: violet;
    }

}
