.logo {
    width: 80px;
}

.navbar {
    a {
        color: var(--white);
        font-size: 16px;
    }
    a:hover{
        color: var(--fuzzy-wuzzy);
    }
    
   

}

.navbar-light .navbar-toggler {
    color: rgb(82, 2, 82);
}